html {
    --dark-background: #262626;
    --dark-foreground: #302830;
    --dark-alt-foreground: rgb(14, 127, 165);
    --dark-foreground-border: #242424;
    --light-text: #ccc;
}
body {
    background-color: var(--dark-background);
}
.artistLink, .albumLink {
    border-style: solid;
    border-color:  #666;
    margin-top: 10px;
    color: var(--light-text);
  }
.songLink, #songHeader {
    color: var(--light-text);
    background-color: var(--dark-foreground);
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-foreground-border);
    font-size: .9em;
    text-align: left;
}
.artistLink, #artistHeader, .allSongsByArtist {
    color: var(--light-text);
    background-color: var(--dark-foreground);
    margin-top: 10px;
    border-style: solid;
    border-width: 0px;
    border-color: var(--dark-foreground-border);
    font-size: .9em;
    text-align: left;
}
.albumLink, #albumHeader {
    color: var(--light-text);
    background-color: var(--dark-foreground);
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-foreground-border);
    font-size: .9em;
    text-align: left;
}
.allSongs, .allAlbums {
    background-color: var(--dark-background);
}
#artistHeader {
    background-color: var(--dark-background);
    text-decoration: underline;
}
#albumHeader {
    background-color: var(--dark-background);
    text-decoration: underline;
}
#songHeader {
    
}
@font-face {
    font-family: 'HeydingsControlsRegular';
    src: url('heydings_controls.ttf');
}
#typeLable {
    color: var(--light-text);
    margin-top: 100px;
}
.navbar-brand {
    color: var(--dark-alt-foreground);
}
/* Control buttons */
.control-button:before{
    font-family: HeydingsControlsRegular;
    font-size: 20px;
    position: relative;
    content: attr(data-icon);
    color: #aaa;
    text-shadow: 1px 1px 0px black;
}
.control-button{
    border-radius: 10px;
}
/*End Control buttons */

/* Timer */
.timer {
/* The outer timer bar */
    background-color: var(--dark-background);
    width: 173px;
    //width: 101%;
    height: 20px;
    margin-top: 10px;
    border-radius: 8px;
}
.timerBar {
/* The inner timer bar */
    background-color: var(--dark-alt-foreground);
    width: 0px;
    height: 20px;
    border-radius: 8px;
}
.timerText, .timeEnd {
    position: absolute;
    font-size: .7em;
    font-family: monospace;
    margin-top: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: var(--light-text);
}
.timerText {
    margin-left: 10px;
}
.timeEnd {
    margin-left: 130px;
}
/* End Timer */

/* Now Playing Info */
#playingInfo {
    width: 400px;
    height: 70px;
    margin-left: 20px;
    color: var(--light-text);
}
#cur-song, #cur-album, #cur-artist {
    text-align: justify;
    font-size: .9em;
}
/* End Now Playing Info */