html {
    --dark-background: #262626;
    --dark-foreground: #302830;
    --dark-foreground-border: #242424;
    --light-text: #ccc;
}
body {
    background-color: var(--dark-background);
}
.artistLink, .albumLink {
    border-style: solid;
    border-color:  #666;
    margin-top: 10px;
    color: var(--light-text);
  }
.songLink, #songHeader {
    color: var(--light-text);
    background-color: var(--dark-foreground);
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-foreground-border);
    font-size: .9em;
    text-align: left;
}
.artistLink, #artistHeader {
    color: var(--light-text);
    background-color: var(--dark-foreground);
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-foreground-border);
    font-size: 1.2em;
    text-align: left;
}
@font-face {
    font-family: 'HeydingsControlsRegular';
    src: url('heydings_controls.ttf');
}
.control-button:before{
    font-family: HeydingsControlsRegular;
    font-size: 20px;
    position: relative;
    content: attr(data-icon);
    color: #aaa;
    text-shadow: 1px 1px 0px black;
}
.controls {
    visibility: hidden;
    opacity: 0.5;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -200px;
    background-color: black;
    box-shadow: 3px 3px 5px black;
    transition: 1s all;
    display: flex;
}
.player:hover .controls, player:focus .controls {
    //opacity: 1;
}
.timer {
    line-height: 38px;
    font-size: 10px;
    font-family: monospace;
    text-shadow: 1px 1px 0px black;
    color: white;
    flex: 50;
    position: relative;
  }
  .timer div {
    position: absolute;
    //background-color: rgba(255,255,255,0.2);
    background-color: green;
    left: 0;
    top: 0;
    width: 0;
    height: 38px;
    z-index: 1;
  }
  .timer span {
    position: absolute;
    z-index: 3; 
    left: 19px;
  }
  
  #typeLable {
    color: var(--light-text);
}